<h1>Create New Drink</h1>


<%= form_for @drink do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :size %>
  <%= f.text_field :size %>

  <%= f.submit %>
<% end %>


